<div class="sift-classification">
  {{#if flaggedPost.custom_fields.sift }}

    <div>
    {{#each-in flaggedPost.custom_fields.sift.topics as |topicKey topicValue|}}
      <span class="sift-topic sift-topic-risk-{{topicValue}}">
        <span class="sift-topic-{{topicKey}}"></span>
        <span class="sift-risk">{{topicValue}}</span>
      </span>
    {{/each-in}}
    </div>

    {{#if flaggedPost.custom_fields.sift.tokenized_solution}}
      <div>
      {{#each flaggedPost.custom_fields.sift.tokenized_solution.slots as |slot|}}
      <span class="sift-classification-unit sift-risk-{{slot.risk}} {{if slot.join_left (concat 'sift-unit-join-left-risk-' slot.risk)}} {{if slot.join_right (concat 'sift-unit-join-right-risk-' slot.risk)}}">
        {{if slot.original slot.original slot.text }}
      </span>
      {{/each}}
          <div class="queue-actions">
              {{d-button action="confirmFailedPost"
                         actionParam=flaggedPost
                         icon="check"
                         class="btn-primary"
                         label="sift.confirm_fails_policy"
                         disabled=performingAction}}

              {{d-button action="allowPost"
                         actionParam=flaggedPost
                         icon="thumbs-o-up"
                         label="sift.confirm_passes_policy"
                         disabled=performingAction}}

              {{admin-disagree-flag-dropdown
                      post=flaggedPost}}
          </div>
      </div>
    {{~else~}}
      <span>{{i18n 'sift.no_sift_tokenized'}}</span>
    {{/if}}
  {{~else~}}
    <span>{{i18n 'sift.no_sift_info'}}</span>
  {{/if}}
</div>
