{{#if enabled}}
  {{#if stats}}
    <table class='tbl spam-stats'>
      <tr>
        <th>{{i18n "sift.stats.classified"}}</th>
        <th>{{i18n "sift.stats.requires_moderation"}}</th>
        <th>{{i18n "sift.stats.confirmed_failed"}}</th>
        <th>{{i18n "sift.stats.confirmed_passed"}}</th>
      </tr>
      <tr>
        <td>{{stats.classified}}</td>
        <td>{{stats.requires_moderation}}</td>
        <td>{{stats.confirmed_failed}}</td>
        <td>{{stats.confirmed_passed}}</td>
      </tr>
    </table>
  {{/if}}

  {{#if currentUser.admin}}
    {{d-button label="admin.plugins.change_settings" icon="gear" class='settings-button' action="showSettings"}}
  {{/if}}

  {{d-button action="refresh" icon="refresh" class="btn-primary" label="sift.refresh" disabled=performingAction}}

  {{#if model.length}}
    <h3 class='review-queue'>{{i18n "sift.posts_to_review"}}</h3>

    <div class="row">
      <table class='sift-queue'>
        <tbody>
        {{#each sortedPosts as |post|}}
          <tr>
            <td class="cooked">

              <div class='post-info'>
                {{#link-to 'adminUser' post.user_id post.username}}{{avatar post imageSize="small"}} {{post.username}}{{/link-to}}
                <a href={{post.url}} target="_blank" class="post-link">#{{post.id}}</a>
              </div>

	      <div>
	      {{{post.sift_excerpt}}}
	      </div>

            <div class="sift-classification">
                {{#if post.sift_response }}
                    {{#each-in post.sift_response.topics as |topicKey topicValue|}}
                        <span class="sift-topic sift-topic-risk-{{topicValue}}">
                            <span class="sift-topic-{{topicKey}}"></span>
                            <span class="sift-risk">{{topicValue}}</span>
                        </span>
                    {{/each-in}}

                    <div>
                        {{#if post.sift_response.tokenized_solution}}
                            {{#each post.sift_response.tokenized_solution.slots as |slot|}}
                                {{#if slot.is_pre}}
                                {{! TODO: sometimes pre should be shown? (vertical filter, etc }}
                                    {{~else~}}
                                    <span class="sift-classification-unit sift-risk-{{slot.risk}} {{if slot.join_left (concat 'sift-unit-join-left-risk-' slot.risk)}} {{if slot.join_right (concat 'sift-unit-join-right-risk-' slot.risk)}}">
                                        {{if slot.original slot.original slot.text }}
                                    </span>
                                {{/if}}
                            {{/each}}

                        {{~else~}}
                            <span>{{i18n 'sift.no_sift_tokenized'}}</span>
                        {{/if}}
                    </div>
                {{~else~}}
                    <span>{{i18n 'sift.no_sift_info'}}</span>
                {{/if}}
            </div>

                <div class="queue-actions">
                {{d-button action="confirmFailedPost"
                              actionParam=post
                              icon="check"
                              class="btn-primary"
                              label="sift.confirm_fails_policy"
                              disabled=performingAction}}

                {{d-button action="allowPost"
                              actionParam=post
                              icon="thumbs-o-up"
                              label="sift.confirm_passes_policy"
                              disabled=performingAction}}

                {{d-button action="dismiss"
                              actionParam=post
                              icon="times"
                              label="sift.dismiss"
                              disabled=performingAction}}

              </div>
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  {{/if}}
{{else}}
  {{#if currentUser.admin}}
    {{d-button label="sift.change_settings" icon="gear" class='settings-button' action="showSettings"}}
  {{/if}}
  {{{i18n "sift.not_enabled"}}}
{{/if}}
